In [2]:
from netCDF4 import Dataset

In [3]:
filename = "FDP+EC/MSP2_PMSC_AIWSRPF_ECORI_L88_NCN_202105270000_00000-04800.nc"
nc_object = Dataset(filename)
print(nc_object)

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    dimensions(sizes): time(16), lat(241), lon(301)
    variables(dimensions): float32 time(time), float64 lat(lat), float64 lon(lon), float32 precipitation(time, lat, lon)
    groups:

In [4]:
print(nc_object.variables.keys())

dict_keys(['time', 'lat', 'lon', 'precipitation'])

In [39]:
print(len(nc_object.variables['time']))

16

In [29]:
time = nc_object.variables["time"]
lat = nc_object.variables["lat"][1]
lon= nc_object.variables["lon"][1]

print(time)
print(lat)
print(lon)

360.0
42.95
109.05

In [33]:
# print(len(nc_object.variables['precipitation'][(time, lat, lon)]))
nc_object.variables['precipitation'][0][1][1]

0.14076233

In [4]:
import pandas as pd

data = pd.read_csv("武大桩号.csv")

In [5]:
print(data.head(5))

         公路桩号     name        lat         lon
0  byl_bc_0_i   野鸡山隧道北  41.056541  115.489376
1  byl_bc_1_i   野鸡山隧道南  41.042786  115.496886
2  byl_bc_2_i   隔河寨隧道北  40.701358  115.950190
3  byl_bc_3_i   隔河寨隧道南  40.700479  115.951005
4  byl_bc_4_i  陈家后山隧道北  40.698129  115.952679

In [6]:
print(data)

           公路桩号     name        lat         lon
0    byl_bc_0_i   野鸡山隧道北  41.056541  115.489376
1    byl_bc_1_i   野鸡山隧道南  41.042786  115.496886
2    byl_bc_2_i   隔河寨隧道北  40.701358  115.950190
3    byl_bc_3_i   隔河寨隧道南  40.700479  115.951005
4    byl_bc_4_i  陈家后山隧道北  40.698129  115.952679
..          ...      ...        ...         ...
686    G6-318_r      NaN  41.517628  115.621713
687    G6-319_r      NaN  41.526335  115.626630
688    G6-320_r      NaN  41.534459  115.632331
689    G6-321_r      NaN  41.539686  115.640856
690    G6-322_r      NaN  41.544444  115.649651

[691 rows x 4 columns]

In [7]:
import pymysql

db = pymysql.connect(host="localhost", user="root", password="lfr139931", database="climate")
cursor = db.cursor()

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
sql = "show tables"
res = cursor.execute(sql)